/* *{margin: 0;
padding: 0;} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary-color: #eab308;
    --secondary-color: #9ca3af;
    --offwhite: #d4d4d4;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /* color: blue; */
}

hr {
    margin: 2rem 0;
}

h1 {
    color: var(--primary-color);
    /* font-weight: bolder; */
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

.container {
    padding: 0 2rem;
}

.container-center {
    padding: 0 2rem;
    max-width: 600px;
    margin: auto;
}

.links {
    margin: 2rem 0;
}

.link {
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 0.5rem;
}

.link-primary {
    /* text-decoration: none; */
    background-color: var(--primary-color);
    color: ghostwhite;
    border-radius: 12px;
    /* padding: .5rem 1rem; */
    /* margin: 0.5rem; */
}

.link-secondary {
    /* text-decoration: none; */
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    /* padding: .5rem 1rem; */
    /* margin: .5rem; */
}
.link-primary:hover {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.link-secondary:hover {
    background-color: var(--primary-color);
    color: ghostwhite;
}
.list-unordered{
    list-style: none;
}
.list-inline{
    list-style: none;
    /* display: flex; */
}
.list-inline li{
    margin: 0 10px;
    display: inline;
}
.nav-bar{
background-color: var(--primary-color);
color: ghostwhite;
padding: 1rem;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
}
.brand{
    font-weight: bold;
}
.nav-bar ul{
    text-align: right;
    list-style: none;
}
.nav-bar ul li{
    display: inline;
    margin: 0 1rem;
}
.nav-bar ul li a{
    text-decoration: none;
    color: ghostwhite;
}
header img{
    width: 30%;
    display: block;
    margin: auto;
}
header h1{
    color: var(--secondary-color);
    text-align: center;
}
header h1 span{
    color: var(--primary-color);
}
.section1 {
    text-align: center;
}
.section2{
    background-color: var(--offwhite);
    padding: 2rem 0;
    text-align: center;
}
footer nav{
    background-color: var(--primary-color);
    color: ghostwhite;
    text-align: center;
    padding: 2rem 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.bottom{
    font-weight: bold;
    /* width: 100vw; */
}
footer nav ul li{
    list-style: none;
    display: inline;
}
footer nav ul li a{
    margin: 0 1rem;
    text-decoration: none;
    color: ghostwhite;
}
footer nav ul{
    padding-inline-start: 0px;
}